Django==4.2.6
PyYAML
dj-database-url
django-cors-headers
djangorestframework
drf-spectacular
requests
pycountry
psycopg2-binary==2.9.9
gunicorn==23.0.0
google-cloud-secret-manager

# Dependencies for DBT Client
certifi >= 14.05.14
future; python_version<="2.7"
six >= 1.10
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1

# Development
debugpy
